
@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");


@media only screen and (max-width: 1024px) { 
  .image {
    grid-row: span 1 !important;
    grid-column: span 1 !important;
  }
 }


#container {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    /* background-color: #2b4162; */
    background: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
    
    /* fffcf2 */
}

/* #grid {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
} */

/* .galleryItem{
    flex-basis: 450px;
   }

   .galleryItem:before{
    padding-top: 0%;
   }
 */

   #grid {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 450px));
    grid-template-rows: minmax(20vh,55vh);
    grid-column-gap: 0.7vw;
grid-row-gap: 2vh; 
justify-items: center;
    justify-content:center !important ;
    align-items: flex-end;
    /* margin: 10px; */
    padding: 15px;
  }
  
  /* The Picture Frame */

  
  /* The Images */
  .image {
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
    object-fit:cover;
    transition: opacity 0.25s ease-in-out;
  }
  
  .image:hover {
    opacity: .7;
  }


  .ChoicesDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 80vh;
    align-items: center;
  }
  
  .choice {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 33vw;
    height: 40vh; 
    padding: 0vh 2vw;
  }

  .choiceTitle {
    font-weight: 8000;
    text-align: right;
    text-shadow: 1px 5px 10px black;
    font-size: 38px;
    font-family: "Comfortaa";
        color: #fdfffc;
    z-index: 2;
    position: absolute;
  }
  
  .choice .imageChoice {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .choice:hover .imageChoice:nth-of-type(2) {
    transform:  translate(8vw, 10vh);
    transition: transform 0.3s ease;
  } 
  .choice:hover .imageChoice:nth-of-type(3) {
    transform:  translate(4vw, 5vh);
    transition: transform 0.3s ease;
  }
  