
@import url("https://fonts.googleapis.com/css?family=Comfortaa&display=swap");


#container {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(315deg, #202f46 0%, #12100e 74%);
    /* fffcf2 */
}

#backgroundImage{
    background: #fdfffc;
    width: 100%;
    height: 55vh;
    border-radius: 4px;
 box-shadow: rgba(235, 235, 237, 0.561) 0px 4px 10px, rgba(235, 235, 237, 0.186) 0px 0px 18px;
margin-bottom: 5vh;
}

.image {
    margin-left: 1vw;
    margin-top: 3vh;
    width: 100%;
    height: 55vh;
    object-fit: cover;
    border-radius: 4px;
   }

.row {
    width : 105vw; 
    margin-top :5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    text-align: justify;
    color: #fdfffc;
    font-family: "Comfortaa" ;
}

@media only screen and (max-width: 770px) {
    .row {
       font-size: 14px;
    }
  
  }

  @media only screen and (min-width: 770px) {
    .row {
       font-size: 18px;
    }
  
  }